/* line 1, ../sass/styles.scss */
html {
  height: 100%;
  min-width: 500px; }

/* line 6, ../sass/styles.scss */
body {
  background: url("../images/debut_dark_@2X.png") repeat #363636;
  font-family: 'Antic', sans-serif;
  color: #e9e9e9;
  text-align: center; }

/* line 13, ../sass/styles.scss */
a {
  color: #aaaaaa; }
  /* line 16, ../sass/styles.scss */
  a:visited {
    color: #aaaaaa; }
  /* line 20, ../sass/styles.scss */
  a:hover {
    text-decoration: none;
    color: #c5c5c5; }

/* line 26, ../sass/styles.scss */
h1 {
  margin: 3em auto 0;
  font-size: 4em;
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.9);
  text-decoration: none; }

/* line 34, ../sass/styles.scss */
p {
  margin: 0 auto;
  margin-top: 3em;
  max-width: 60%; }
  @media (min-width: 1024px) {
    /* line 34, ../sass/styles.scss */
    p {
      max-width: 30%; } }
  @media (min-width: 900px) and (max-width: 1024px) {
    /* line 34, ../sass/styles.scss */
    p {
      max-width: 40%; } }

/* line 49, ../sass/styles.scss */
.updated {
  font-size: 0.5em;
  margin-top: 6em;
  color: #8e8e8e;
  display: block;
  bottom: 0px;
  position: absolute; }
