/*
 * Website designed and developed by Jesse Maxwell.
 * Version 2.1
 */
/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* ======== Overall Styles ======== */
/* line 2, ../sass/_general.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, ../sass/_general.scss */
html {
  height: 100%; }

/* line 10, ../sass/_general.scss */
body {
  font-family: 'Lato', sans-serif;
  color: #4d4d4d;
  font-weight: 300;
  text-align: left;
  font-size: 18px; }
  @media (min-width: 800px) {
    /* line 10, ../sass/_general.scss */
    body {
      background: url("../images/bg-keys.jpg") center center no-repeat white;
      background-attachment: fixed; } }

/* line 22, ../sass/_general.scss */
a {
  color: #56769e;
  text-decoration: none;
  border-bottom: 1px dashed #56769e; }
  /* line 27, ../sass/_general.scss */
  a:visited {
    color: #56769e; }
  /* line 31, ../sass/_general.scss */
  a:hover {
    text-decoration: none;
    border-bottom: 1px solid #56769e;
    color: #445d7d; }

/* line 38, ../sass/_general.scss */
:target {
  -webkit-animation: highlight 3s ease;
  -moz-animation: highlight 3s ease; }

@-webkit-keyframes highlight {
  /* line 44, ../sass/_general.scss */
  0% {
    background-color: transparent; }

  /* line 45, ../sass/_general.scss */
  25% {
    background-color: white; }

  /* line 46, ../sass/_general.scss */
  100% {
    background-color: transparent; } }

@-moz-keyframes highlight {
  /* line 50, ../sass/_general.scss */
  0% {
    background-color: transparent; }

  /* line 51, ../sass/_general.scss */
  25% {
    background-color: white; }

  /* line 52, ../sass/_general.scss */
  100% {
    background-color: transparent; } }

@media (min-width: 800px) {
  /* line 57, ../sass/_general.scss */
  div[id]:target {
    padding: 1em;
    border-radius: 5px; } }
/* line 63, ../sass/_general.scss */
h1 {
  margin: 1.2em auto 0;
  font-size: 4em;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  text-align: center; }
  /* line 70, ../sass/_general.scss */
  h1 a {
    color: #4d4d4d;
    text-decoration: none;
    border-bottom: 0; }
    /* line 75, ../sass/_general.scss */
    h1 a:visited {
      color: #4d4d4d; }
    /* line 79, ../sass/_general.scss */
    h1 a:hover {
      border-bottom: #445d7d 1px dashed; }
  @media (max-width: 1000px) {
    /* line 63, ../sass/_general.scss */
    h1 {
      font-size: 2.8em; } }
  @media (max-width: 800px) {
    /* line 63, ../sass/_general.scss */
    h1 {
      margin: 0 auto 0 0.8em; } }

/* line 93, ../sass/_general.scss */
h2 {
  font-size: 2.5em;
  text-align: center;
  margin: 1.2em 0 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 100; }
  @media (max-width: 1000px) {
    /* line 93, ../sass/_general.scss */
    h2 {
      font-size: 2.1em; } }

/* line 105, ../sass/_general.scss */
h3 {
  font-size: 2em;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 1.2em 0 0; }

/* line 113, ../sass/_general.scss */
p {
  margin: 0 auto;
  margin-top: 0.8em;
  line-height: 22px; }

/* line 119, ../sass/_general.scss */
dl {
  line-height: 22px; }
  /* line 120, ../sass/_general.scss */
  dl dt {
    text-transform: uppercase;
    margin-top: 1em; }
  /* line 125, ../sass/_general.scss */
  dl dd {
    padding-left: 2em; }

/* line 132, ../sass/_general.scss */
ul {
  list-style: disc inside none;
  line-height: 22px; }

/* line 137, ../sass/_general.scss */
ol {
  list-style: decimal outside none;
  margin-top: 0.5em;
  padding-left: 2em;
  line-height: 22px; }

/* line 144, ../sass/_general.scss */
em {
  font-style: italic; }

/* line 148, ../sass/_general.scss */
.updated {
  font-size: 0.7em;
  margin-top: 6em;
  color: #A3A3A3;
  display: block; }

/* ======== Layouts ======== */
@media (max-width: 800px) {
  /* line 2, ../sass/_layouts.scss */
  div.page {
    width: 100%;
    position: relative;
    overflow: hidden; } }

/* line 10, ../sass/_layouts.scss */
nav {
  width: 100%;
  position: fixed;
  text-align: justify;
  border-top: 8px solid #954a4a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0.95)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95));
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95)); }
  @media (max-width: 800px) {
    /* line 10, ../sass/_layouts.scss */
    nav {
      background: #414141;
      z-index: 0; } }
  /* line 22, ../sass/_layouts.scss */
  nav div {
    max-width: 1200px;
    margin: 0 auto;
    text-align: justify; }
    /* line 27, ../sass/_layouts.scss */
    nav div span#underline {
      position: absolute;
      bottom: 8px;
      left: 0;
      width: 100px;
      height: 2px;
      background: #954a4a;
      display: none;
      -webkit-transition: linear, 400ms;
      -moz-transition: linear, 400ms;
      -o-transition: linear, 400ms;
      transition: linear, 400ms; }
    @media (max-width: 1200px) {
      /* line 22, ../sass/_layouts.scss */
      nav div {
        max-width: 80%; } }
    @media (max-width: 1000px) {
      /* line 22, ../sass/_layouts.scss */
      nav div {
        width: 100%;
        max-width: 100%; } }
  /* line 48, ../sass/_layouts.scss */
  nav ul {
    width: 100%;
    text-align: justify;
    height: 65px; }
    /* line 53, ../sass/_layouts.scss */
    nav ul li {
      display: inline-block;
      list-style: none;
      margin-top: 10px; }
      /* line 58, ../sass/_layouts.scss */
      nav ul li a {
        border-bottom: none;
        display: inline-block;
        padding: 10px; }
        /* line 63, ../sass/_layouts.scss */
        nav ul li a:hover {
          text-decoration: none;
          border-bottom: none; }
        /* line 68, ../sass/_layouts.scss */
        nav ul li a.active {
          border-radius: 4px;
          background-color: #e7e7e7; }
        @media (max-width: 1000px) {
          /* line 58, ../sass/_layouts.scss */
          nav ul li a {
            padding: 4px; } }
        @media (max-width: 800px) {
          /* line 58, ../sass/_layouts.scss */
          nav ul li a {
            color: #ededed;
            padding: 12px 0px 12px 25px; }
            /* line 82, ../sass/_layouts.scss */
            nav ul li a:visited, nav ul li a:hover {
              color: #ededed; } }
      @media (max-width: 800px) {
        /* line 53, ../sass/_layouts.scss */
        nav ul li {
          display: block;
          margin: 0;
          border-bottom: 1px #292929 solid; } }
    /* line 97, ../sass/_layouts.scss */
    nav ul:after {
      content: "";
      display: inline-block;
      width: 100%; }

/* line 106, ../sass/_layouts.scss */
.menu-icon {
  display: none;
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px; }
  @media (max-width: 800px) {
    /* line 106, ../sass/_layouts.scss */
    .menu-icon {
      display: block; } }

/* line 118, ../sass/_layouts.scss */
.content {
  max-width: 1200px;
  margin: 0 auto 4em;
  z-index: 2;
  padding: 2em 10% 4em;
  min-height: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0.8)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8));
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)); }
  @media (max-width: 1200px) {
    /* line 118, ../sass/_layouts.scss */
    .content {
      max-width: 80%; } }
  @media (max-width: 800px) {
    /* line 118, ../sass/_layouts.scss */
    .content {
      padding: 0.5em;
      background-color: white;
      max-width: 100%;
      width: 100%; } }
  @media (max-width: 800px) {
    /* line 118, ../sass/_layouts.scss */
    .content {
      position: relative; } }
