/* ======== Layouts ======== */
div.page {
  @include bp($banjo) {
    width: 100%;
    position: relative;
    overflow-x: hidden;
  }
}

nav {
  width: 100%;
  position: fixed;
  text-align: justify;
  border-top: 8px solid #954a4a;
  @include background-image(linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95)));

  @include bp($banjo) {
    background: $small-nav-bg;
    height: 100%;
    z-index: 0;
  }

  div {
    max-width: $bass;
    margin: 0 auto;
    text-align: justify;

    span#underline {
      position: absolute;
      bottom: 8px;
      left:0;
      width:100px;
      height: 2px;
      background: #954a4a;
      display: none;
      @include transition(linear, 400ms);
    }

    @include bp($bass) {
      max-width: 80%;
    }

    @include bp($guitar) {
      width: 100%;
      max-width: 100%;
    }
  }

  ul {
    width: 100%;
    text-align: justify;
    height: 65px;

    li {
      display: inline-block;
      list-style: none;
      margin-top: $u;

      a {
        border-bottom: none;
        display: inline-block;
        padding: u(1);

        &:hover {
          text-decoration: none;
          border-bottom: none;

          @include bp($banjo, $min) {
            border-radius: 4px;
            background-color: $bg-color;

            @include transition(all, linear, .2s);
          }
        }

        @include bp($guitar) {
          padding: u(0.4);
        }

        @include bp($banjo) {
          color: $small-nav-text-color;
          padding: u(1.2) u(0) u(1.2) u(2.5);
          display: block;

          &:visited,
          &:hover {
            color: $small-nav-text-color;
          }
        }
      }

      // li
      @include bp($banjo) {
        display: block;
        margin: 0;
        border-bottom: 1px $black-key solid;
      }
    }

    // make sure the menu items remain justified.
    &:after {
      content: "";
      display: inline-block;
      width:100%;
    }
  }
}

// SVG
.menu-icon {
  display: none;
  position: absolute;
  z-index: 10;
  top: u(2);
  left: u();

  @include bp($banjo) {
    display: block;
  }
}

.inner {
  left:0; // provides nice transition when menu opens/closes
  @include transition(left, linear, .2s);
}

.menu-open {
  left: 70%;

  @include bp($fiddle) {
    left:80%;
  }
}

.content {
  max-width:$bass;
  margin: 0 auto 4em;
  z-index: 2;

  &.smooth {
    @include transition(all, linear, .2s);
  }

  padding:2em 10% 4em;
  min-height: 100%;

  @include background-image(linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)));

  > div {
    margin: 1em 0;
  }


  @include bp($bass) {
    max-width: 80%;
  }

  @include bp($banjo) {
    margin:0;
    padding: 0.5em;
    background-color: $background-color;
    max-width: 100%;
    width: 100%;
  }

  @include bp($banjo) {
    position: relative;
  }
}