/* ======== Overall Styles ======== */
* {
//  font-size: 10px;
  @include box-sizing(content-box);
}

html {
  height:100%;
}

body {
  background: url('../images/debut_dark_@2X.png') repeat $background-color;
  font-family: 'Antic', sans-serif;
  color: #e9e9e9;
  text-align: left;
  font-size: 16px;
}

a {
  color:$link-color;

  &:visited {
    color:$link-color;
  }

  &:hover {
    text-decoration: none;
    color: $link-hover-color;
  }
}

:target {
  -webkit-animation: highlight 3s ease;
  -moz-animation: highlight 3s ease;
}

@-webkit-keyframes highlight {
  0% { background-color: transparent; }
  25% { background-color: $background-color; }
  100% { background-color: transparent; }
}

@-moz-keyframes highlight {
  0% { background-color: transparent; }
  25% { background-color: $background-color; }
  100% { background-color: transparent; }
}

// This styles any div with any id so that it looks nice when targeted by an on-page link.
div[id] {
  padding:1em;
  border-radius: 5px;
}

h1 {
  margin: 0.5em auto 0;
  font-size: 4em;
  font-family: 'Raleway', sans-serif;
  text-shadow:2px 2px 0px rgba(0,0,0,0.9);
  text-decoration: none;
  text-align: center;

  a {
    color: $heading-color;
    text-decoration: none;

    &:visited,
    &:hover {
      color: $heading-color;
    }
  }
}

h2 {
  font-size: 2.5em;
  text-align: center;
  margin:1.2em 0 0;
}

h3 {
  font-size: 2em;
  text-align: center;
  margin:1.2em 0 0;
}

p {
  margin:0 auto;
  margin-top:0.8em;
}

dl {
  dt {
    text-transform: uppercase;
    margin-top: 1em;
  }

  dd {
    padding-left:2em;
  }
}

ul {
  list-style: disc inside none;
}

ol {
  list-style: decimal outside none;
  margin-top:0.5em;
  padding-left:2em;
}

.updated {
  font-size: 0.6em;
  margin-top: 6em;
  color: #8e8e8e;
  display:block;
}