/* ======== Layouts ======== */
nav {
  float:left;
  width:20%;
  min-width:2em;
//  position: fixed;

}

.content {
  width:50%;
  float: left;
  padding:0 10%;
  margin-left:5%;
  min-height: 100%;

  @include background-image(linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3)));
}