/* ======== Layouts ======== */
nav {
  float:left;
  width:20%;
  min-width:2em;
  position: absolute;

  @media screen and (min-height:$keyboard) {
    position:fixed;
  }

  @media screen and (max-width: $keyboard) {
    display: none;
  }

}

.content {
  max-width:1200px;
  width:75%;
  float: left;
  padding:0 10% 4em;
  margin-left:25%;
  min-height: 100%;
  margin-bottom:4em;

  @include background-image(linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3)));

  @media screen and (max-width: $keyboard) {
    width: 100%;
    margin: 0 auto;
    padding: 5% 3em;
  }

  @media screen and (max-width: $banjo) {
    padding: 0.5em;
    background-color: $background-color;
  }
}