.piano {
  ul {
    list-style: none;
    margin: 0;
    padding:0;
  }

  li a {
    // Grunt work
    width:100%;
    min-width: 11.5em;
    height:$white-key-height;
    border-bottom: 2px solid black;
    display: block;
    background-color: $white-key;
    position: relative;

    // Realism
    border-radius: 0 5px 5px 0;
    box-shadow: inset -1px -2px 4px #ffffff;

    // Text
    text-align: right;
    color:#7b7b7b;

    span {
      padding:0.8em 1em 0 0;
      display: inline-block;
      text-decoration: none;
    }

    &:hover {
      // Yay for CSS3!
      box-shadow: inset 0px 0px 5px #000000;
      @include background-image(linear-gradient(#eeeeee, #b5b5b5));

      span {
        padding-right:0.8em;
        @include transition(all 0.1s linear);
      }
    }

    &.black {

      span {
        padding-top:1.2em
      }

      &:before {
        content:'';
        width:60%;
        height:$black-key-height;
        display: block;
        background-color: $black-key;
        position: absolute;
        margin-top: $black-key-position;

        // Realism
        border-radius: 0 3px 3px 0;
        box-shadow: 0px -1px 0px $black-key-outer-border,
                    0px 1px 0px $black-key-outer-border,
                    1px 0px 0px $black-key-outer-border,
              inset 0px 1px 1px $black-key-inner-border,
              inset 0px -1px 1px $black-key-inner-border,
              inset -2px 0px 1px $black-key-inner-border;
      }

      &:after {
        content: "";
        background-color: #979589;
        width:4px;
        height:4px;
        border-radius: 4px 3px 5px 2px;
        position: absolute;
        margin:2px 0 0 -43%;
      }

      &.high {
        &:before {
          margin-top:$black-key-high;
        }

        &:after {
          margin-top:-1px;
        }
      }

      &.low {
        &:before {
          margin-top: $black-key-low;
        }

        &:after {
          margin-top:5px;
        }
      }
    }
  }
}