// Text
$link-color: #B2C1D1;
$link-hover-color: darken($link-color, 10%);
$background-color:#363636;
$light-heading: #F5F5F5;
$content-text-size: 18px; // Only px unless the calc below is adjusted.
$content-line-height: $content-text-size + 4px;

// Style and Feel
$bg-color: #e7e7e7;


// Piano
$white-key: #e5e5e5;
$black-key: #292929;
$white-key-height: 3em;
$black-key-height: $white-key-height * .5;
$black-key-position: -$black-key-height * .5;
$black-key-high: $black-key-position - 0.2;
$black-key-low: $black-key-position + 0.2;
$black-key-outer-border: black;
$black-key-inner-border: #565656;

// Media Query support
$piano: 800px;
$keyboard:700px;
$bass:600px;
$guitar:500px;
$banjo:400px;
$fiddle:300px;
$shaker:200px;

